apiVersion: apps/v1
kind: Deployment
metadata:
  name: sample-app-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: sample-app-deployment
  template:
    metadata:
      labels:
        app: sample-app-deployment
    spec:
      containers:
        - name: sample-app-deployment
          image: nanajanashia/argocd-app:1.0
          ports:
            - containerPort: 8080